
.navitem {
    color: black;
    text-decoration: none;
    list-style: none;
}


.navbarList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.centreText {
    text-align: center;
}


.dice {
    width: 200px;
    height: 200px;
}
