
.navitem {
    color: black;
    text-decoration: none;
    list-style: none;
}


.navbarList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.centreText {
    text-align: center;
}


.dice {
    width: 150px;
    height: 150px;
}

.game {
    display: flex;
    justify-content: centre;
    flex-direction: column;
    align-items: centre;
    width: 100%;
}

.fullWidth {
    width:100%
}

.rollButton {
    margin: 10px 40px;
    height: 45px;
    font-size: large;
}

.diceSet {
    display: flex;
    justify-content: center;
    align-items: center;
}